<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* 추가적인 CSS 스타일링 */
        body {
            background-color: #f8f9fa; /* 페이지 배경색 설정 */
        }
        .form-group {
            margin-bottom: 20px; /* 폼 그룹 간격 조정 */
        }
    </style>
</head>
<body>
<div class="container">
    <h1>상품관리 페이지</h1>
    <a href="/" class="btn btn-secondary">메인페이지</a>
    <a href="/stockorder" class="btn btn-primary">재고주문</a>
    <a href="/stockmanagement" class="btn btn-warning">재고관리</a>
    <a href="/disposal" class="btn btn-warning">폐기처리</a>
    <a href="/messagesend" class="btn btn-info">메시지전송</a>
    <a href="/preorder" class="btn btn-success">예약정보</a>
    <form th:action="@{/order}" method="post" th:object="${stockDto}" class="needs-validation" novalidate>
        <div class="form-group row">
            <div th:each="goods, iterStat : ${goodsList}">
                <div class="col">
                    <input type="radio" th:field="*{goods}" th:value="${goods.goods_num}" name="type" class="form-check-input">
                    <span th:text="${goods.goods_name} + '(' + ${goods.goods_buy_price} + '원)'"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label">주문수량 :</label>
            <div class="col">
                <input type="text" th:field="*{stock}" class="form-control">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">재고주문</button>
    </form>
</div>
</body>
</html>